<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.project.absensisiswa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Absensi Siswa"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuAdmin.DaftarProdi"
            android:label="Pilih Jurusan"></activity>
        <activity android:name=".MenuAdmin.LihatPelajaran"
            android:label="Daftar Pelajaran"/>
        <activity android:name=".MenuAdmin.InputPelajaran"
            android:label="Input Pelajaran"/>
        <activity android:name=".MenuGuru.TentangApp"
            android:label="Tentang Aplikasi"/>
        <activity android:name=".MenuGuru.AbsensiAction" />
        <activity android:name=".MenuGuru.ProfileSekolah"
            android:label="Profil"/>
        <activity android:name=".MenuAdmin.Laporan"
            android:label="Laporan"/>
        <activity android:name=".MenuAdmin.SIswaIPAKelas3"
            android:label="Daftar Siswa"/>
        <activity android:name=".MenuAdmin.SiswaIPAKelas2"
            android:label="Daftar Siswa"/>
        <activity android:name=".MenuAdmin.SiswaKelas1"
            android:label="Daftar Siswa"/>
        <activity android:name=".MenuAdmin.SIswaIPSKelas3"
            android:label="Daftar Siswa"/>
        <activity android:name=".MenuAdmin.SiswaIPSKelas2"
            android:label="Daftar Siswa"/>
        <activity android:name=".MenuAdmin.DaftarSiswa"
            android:label="Daftar Siswa"/>
        <activity android:name=".MenuAdmin.InputSiswa"
            android:label="Input Siswa"/>
        <activity android:name=".MenuAdmin.Siswa" />
        <activity
            android:name=".Akun.Registrasi"
            android:label="Register" />
        <activity
            android:name=".MenuGuru.HomeGuru"
            android:label="Dashboard" />
        <activity
            android:name=".MenuAdmin.HomeAdmin"
            android:label="Dashboard" />
        <activity
            android:name=".Akun.Login"
            android:label="Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS" />

</manifest>